* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

:root {
    --zIndexMenu: 999;
    --zIndexBurguerMenu: 1000;
    --zIndexFullSlider: 1001;
    --zIndexClose: 1003;
}